#hero {
    background: url('./images/hero.jpg');
    background-size: cover;
    height: 25em;

        article {
        color: $myblue;
        font-size: 60px;
        padding-left: 60%;
        padding-top: 1em;

            h1{
                display: inline-block;
                background-color: white;
                margin-bottom: 0.1em;
                padding: 0.15em 0.15em  0.15em 0.2em;
        }
        }
        button {
            font-family: 'Slabo 13px', serif;
            font-size: 2em;
            margin-left: 60%;
            margin-top: 1em;
            background-color: $myblue;
            color: white;
            border: none;
            border-radius: 0.2em;
            text-decoration: none;
            width: 10em;
            height: 2em;

            &:hover{
                background-color: #007FFF;
            }
        }
}

@media (max-width: 1200px) {
    #hero{
        article{
            font-size: 40px;
            padding-right: 5%;
        }

        button {
            font-size: 1.5em;
            margin-right: 5%;
            width: 9em;
        }
    }
}

@media (max-width: 760px){
    #hero{
        height: 20em;
        article{
            font-size: 30px;
        }
        button{
            font-size: 1em;
            width: 7em;
            height: 3em;
        }
    }
}

@media(max-width: 450px){
    #hero{
        height: 15em;
    article{
        font-size: 20px;
    }
    button{
        font-size: 0.8em;
    }
}
}
